<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body style="background-color:powderblue;">
<div>
<!--    {% load static %}-->
<p><b>HELLO {{user.username}}</b> <img align="right" src="{{user.imgs.url}}" height="50" width="75" ><button><a
        href="http://127.0.0.1:8000/admin">Admin</a></button><br> </p>
<!--<a href="http://127.0.0.1:8000/task"><button>logout</button></a>-->
    <form action="http://127.0.0.1:8000/userlogout" method="get">
<!--        <input type="button" value="logout" >-->
        <button type="submit" >logout</button>
    </form>

</div>
<br>
<!--<h1>{{user.imgs}}</h1>-->
<hr>
<h2>To Do List !!!!!!</h2>

<a href="http://127.0.0.1:8000/create"><button>Create task</button></a>
<a href="http://127.0.0.1:8000/task"><button>Create list</button></a>
<a href="http://127.0.0.1:8000/retriveT/{{ user.id }}"><button>retrive data</button></a>
<a href="http://127.0.0.1:8000/checkbox1/{{ user.id }}"><button>Delete list</button></a>
<a href="http://127.0.0.1:8000/checkbox/{{ user.id }}"><button>Delete task</button></a>
<hr>
<br>

<a href="http://127.0.0.1:8000/checkbox2/{{ user.id }}"><button><h10>Completed any task ? </h10></button></a>
</body>
</html>