<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body style="background-color:powderblue;">
<div>
<p><b>HELLO {{user.username}}</b> <img align="right" src="{{user.imgs.url}}" height="50" width="75" >  </p>
</div>
<br>
<hr>
<h2>To Do List !!!!!!</h2>
<button><a href="http://127.0.0.1:8000/admin">Admin</a></button><br>
<a href="http://127.0.0.1:8000/create">Create task</a><br>
<a href="http://127.0.0.1:8000/task">Create list</a><br>
<a href="http://127.0.0.1:8000/retriveT">retrive data</a><br>
<a href="http://127.0.0.1:8000/checkbox1">Delete list</a><br>
<a href="http://127.0.0.1:8000/checkbox">Delete task</a><br>

</body>
</html>