<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TO DO LIST</title>
</head>
<body>
<button><a href="http://127.0.0.1:8000/admin">Admin</a></button>
<button><a href="http://127.0.0.1:8000">Home</a></button><br>
<h1>To Do list</h1>
<p>Task in database
<a href="http://127.0.0.1:8000/admin"><button>Admin</button></a>
<a href="http://127.0.0.1:8000"><button>home</button></a></p>
<table border="1">
{% for i in data %}
<tr><td><a href="http://127.0.0.1:8000/retriveL/{{ i.id }}">{{ i.title }}</a></td>
    <td><a href="http://127.0.0.1:8000/updateL/{{ i.id }}">Update</a></td></tr>
{% endfor %}
    </table>
</body>
</html>