<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>To Do List !!</h1>
<a href="http://127.0.0.1:8000/admin">Admin</a><br>
<a href="http://127.0.0.1:8000/create">Create task</a><br>
<a href="http://127.0.0.1:8000/task">Create list</a><br>
<a href="http://127.0.0.1:8000/retriveT">retrive data</a><br>
<a href="http://127.0.0.1:8000/checkbox1">Delete list</a><br>
<a href="http://127.0.0.1:8000/checkbox">Delete task</a><br>
<a href="http://127.0.0.1:8000/radio1">Update list</a><br>
</body>
</html>