<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>To Do list !!</h1>
<p>
<a href="http://127.0.0.1:8000/admin"><button>Admin</button></a>
<a href="http://127.0.0.1:8000/create"><button>Create List</button></a>
<a href="http://127.0.0.1:8000/task"><button>CreateTask</button></a>
<a href="http://127.0.0.1:8000"><button>Home</button></a><br></p>

{% for i,j,k in dat %}

<table border = "1">
    <tr><td><b><i>Task {{ i }}</i></b> </td>
    <td><a href="http://127.0.0.1:8000/updateT/{{ k.id }}/{{ id }}">Update</a></td></tr>
<tr><td><b>To do</b> : {{ j.title1 }}</td></tr>
<tr><td><b>description</b> : {{ j.desc }}</td></tr>
<tr><td><b>start time</b> : {{ j.start }}</td></tr>
<tr><td><b>end time</b> : {{ j.end }}</td></tr>
</table>
{% endfor %}

</body>
</html>